
/* @import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap'); */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  
  /* font-family: 'Kolker Brush', cursive; */
}

.canvas-container {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  font-size: 5rem;
  font-weight: bold;
  color: gray;
}
